/**
 * @tableofcontents
 *
 * 1. panel
 * 2. title panel
 * 3. list panel
 * 4. item panel
 *    4.1 ninja
 *    4.2 novice
 * 5. item message
 *    5.1 ninja
 *    5.2 novice
 * 6. query
 */

/* @section 1. panel */

.dn_panel
{
	background: #543088;
	background: -moz-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: -ms-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: -o-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: -webkit-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: linear-gradient(160deg, #543088, #2c1947 70%);
	font: 700 0.75rem arial;
	padding: 1em;
	position: relative;
	z-index: 10000;
}

.dn_panel, .dn_panel a
{
	color: #fff;
}

.dn_panel a
{
	text-decoration: none;
}

/* @section 2. title panel */

.dn_title_panel
{
	color: #fff;
	cursor: pointer;
	font: bold 2em arial;
	letter-spacing: 0.25em;
	margin-bottom: 2.5em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.dn_title_panel:after
{
	content: attr(title);
	font-size: 0.5em;
	display: block;
}

/* @section 3. list panel */

.dn_list_panel li
{
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	color: #fff;
	overflow: hidden;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.dn_list_panel li:after
{
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	content: attr(title);
	display: block;
	font: italic 0.875em arial;
	margin-top: 0.25em;
	opacity: 0.2;
	transition: opacity 0.4s;
}

.dn_list_panel li:hover:after
{
	opacity: 0.4;
}

/* @section 4. item panel */

.dn_item_panel
{
	-moz-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(0, 0, 0, 0.3);
	background: #2c1947;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	box-shadow: inset 0 -1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(0, 0, 0, 0.3);
	margin-bottom: 1em;
	padding: 0.75em 0.75em 0.75em 2.5em;
	position: relative;
	
}

/* hover effect */

.dn_item_panel:hover
{
	background: #543088;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
	background: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

.dn_item_panel:before
{
	-moz-border-radius: 0.5em 0 0 0.5em;
	-webkit-border-radius: 0.5em 0 0 0.5em;
	background: #ffd300;
	background: -moz-linear-gradient(#ffd300, #d79600);
	background: -ms-linear-gradient(#ffd300, #d79600);
	background: -o-linear-gradient(#ffd300, #d79600);
	background: -webkit-linear-gradient(#ffd300, #d79600);
	background: linear-gradient(#ffd300, #d79600);
	border-radius: 0.5em 0 0 0.5em;
	bottom: 1px;
	content: '';
	left: 1px;
	position: absolute;
	top: 1px;
	width: 1.25em;
}

/* @section 4.1 ninja */

.dn_item_panel.dn_amount_ninja:before
{
	background: #80b534;
	background: -moz-linear-gradient(#80b534, #457800);
	background: -ms-linear-gradient(#80b534, #457800);
	background: -o-linear-gradient(#80b534, #457800);
	background: -webkit-linear-gradient(#80b534, #457800);
	background: linear-gradient(#80b534, #457800);
}

/* @section 4.2 novice */

.dn_item_panel.dn_amount_novice:before
{
	background: #f23c50;
	background: -moz-linear-gradient(#f23c50, #ae0a1a);
	background: -ms-linear-gradient(#f23c50, #ae0a1a);
	background: -o-linear-gradient(#f23c50, #ae0a1a);
	background: -webkit-linear-gradient(#f23c50, #ae0a1a);
	background: linear-gradient(#f23c50, #ae0a1a);
}

/* @section 5. item message */

.dn_list_panel .dn_item_message
{
	background: #ffd300;
	background: -moz-linear-gradient(-60deg, #ffd300, #d79600);
	background: -ms-linear-gradient(-60deg, #ffd300, #d79600);
	background: -o-linear-gradient(-60deg, #ffd300, #d79600);
	background: -webkit-linear-gradient(-60deg, #ffd300, #d79600);
	background: linear-gradient(160deg, #ffd300, #d79600);
	padding: 1em;
	text-align: center;
}

.dn_list_panel .dn_score
{
	display: block;
	font-size: 2.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

/* @section 5.1 ninja */

.dn_item_message.dn_amount_ninja
{
	background: #80b534;
	background: -moz-linear-gradient(-60deg, #80b534, #457800);
	background: -ms-linear-gradient(-60deg, #80b534, #457800);
	background: -o-linear-gradient(-60deg, #80b534, #457800);
	background: -webkit-linear-gradient(-60deg, #80b534, #457800);
	background: linear-gradient(160deg, #80b534, #457800);
}

/* @section 5.2 novice */

.dn_item_message.dn_amount_novice
{
	background: #f23c50;
	background: -moz-linear-gradient(-60deg, #f23c50, #ae0a1a);
	background: -ms-linear-gradient(-60deg, #f23c50, #ae0a1a);
	background: -o-linear-gradient(-60deg, #f23c50, #ae0a1a);
	background: -webkit-linear-gradient(-60deg, #f23c50, #ae0a1a);
	background: linear-gradient(160deg, #f23c50, #ae0a1a);
}

/* @section 6. query */

@media screen and (min-width: 60em)
{
	.dn_list_panel
	{
		-moz-column-count: 5;
		-ms-column-count: 5;
		-o-column-count: 5;
		-webkit-column-count: 5;
		column-count: 5;
	}

	.dn_title_panel
	{
		float: left;
		margin-top: 4em;
		width: 20%;
	}
}

@media screen and (max-width: 20em)
{
	.dn_list_panel .dn_score
		{
		display: block;
	}
}