/**
 * @tableofcontents
 *
 * 1. reset
 * 2. panel
 * 3. title panel
 * 4. list panel
 *    4.1 children elements
 *    4.2 item message
 * 5. amount
 */

/* @section 1. reset */

.dn_title_panel, .dn_list_panel
{
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	white-space: normal;
}

.dn_list_panel
{
	list-style: none;
}

.dn_panel a
{
	text-decoration: none;
}

/* @section 2. panel */

.dn_panel
{
	background: #fff;
	font: bold 0.75rem arial;
	padding: 1em;
}

.dn_panel, .dn_panel a
{
	color: #000;
	color: rgba(0, 0, 0, 0.8);
}

/* @section 3. title panel */

.dn_title_panel
{
	cursor: pointer;
	font-size: 2em;
	letter-spacing: 0.25em;
	margin-bottom: 0.5em;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
}

/* @section 4. list panel */

.dn_list_panel
{
	-moz-column-count: 5;
	-ms-column-count: 5;
	-webkit-column-count: 5;
	column-count: 2;
}

/* @section 4.1 children elements */

.dn_list_panel li
{
	-moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 40px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 40px rgba(0, 0, 0, 0.2);
	background: #222;
	background: rgba(34, 34, 34, 0.9);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 40px rgba(0, 0, 0, 0.2);
	margin-bottom: 1em;
	padding: 2em;
}

/* @section 4.2 item message */

.dn_list_panel .dn_item_message
{
	text-align: center;
}

.dn_list_panel .dn_score
{
	display: block;
	font-size: 2.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

/* @section 5. amount */

.dn_list_panel .dn_amount_ninja
{
	background: green;
	background: rgba(1, 128, 0, 0.8);
}

.dn_list_panel .dn_amount_novice
{
	background: red;
	background: rgba(266, 0, 0, 0.8);
}