/**
 * @tableofcontents
 *
 * 1. general
 * 2. content
 *    2.1 drag
 *    2. footer
 */

/* @section 1. general */

html
{
	min-height: 100%;
}

body
{
	background: #543088;
	background: -moz-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: -ms-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: -o-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: -webkit-linear-gradient(-60deg, #543088, #2c1947 70%);
	background: linear-gradient(160deg, #543088, #2c1947 70%);
	color: #fff;
	font: 700 0.75rem arial;
	padding: 1em;
}

a
{
	color: #fff;
	text-decoration: none;
}

.footer
{
	margin-top: 4em;
	opacity: 0.2;
}

.wrapper
{
	margin: 10%;
}

/* @section 2. content */

.title_content
{
	font: bold 2em arial;
	letter-spacing: 0.25em;
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

.box_content
{
	text-align: center;
}

.box_content a:hover
{
	text-decoration: underline;
}

/* @section 2.1 drag */

.link_drag
{
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(0, 0, 0, 0.3);
	background: #18151c;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	background: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	border-radius: 0.5em;
	box-shadow: inset 0 -1px rgba(255, 255, 255, 0.1), inset 0 1px rgba(0, 0, 0, 0.3);
	display: block;
	color: #fff;
	cursor: move;
	font-size: 2em;
	margin: 1em auto;
	padding: 0.75em;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

/* @section 2. footer */

.title_footer
{
	font-size: 1.75em;
	margin-bottom: 2em;
	text-align: center;
}

.list_footer
{
	-moz-column-count: 5;
	-ms-column-count: 5;
	-o-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5;
}

.list_footer li
{
	line-height: 2em;
}